.thumbs-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.carousel-status {
    visibility: hidden;
}

.react-tabs__tab--selected {
    border-color: #D99904 !important;
    color: #D99904 !important;
}

.dashboard-layout .active {
    color: #ffffff;
}
