.thumbs-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.carousel-status {
    visibility: hidden;
}

.react-tabs__tab--selected {
    border-color: #D99904 !important;
    color: #D99904 !important;
}

.dashboard-layout .active {
    color: #ffffff;
}

.table :where(thead, tfoot) :where(th, td) {
    background-color: #D1A054;
    color: #fff;
}

.loader {
    display: block;
    position: relative;
    width: 118px;
    height: 160px;
    background-color: #a3a3a3;
    border-radius: 50% 50% 50% 50% / 60% 60% 40% 40%;
    transform-origin: 50% 100%;
    animation: 2s eggRot linear infinite alternate;
}

.loader:after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: 15%;
    width: 80px;
    height: 86px;
    transform: translateX(-50%);
    background-color: #ffd900;
    border-radius: 50%;
}

@keyframes eggRot {
    0% {
        transform: rotate(-25deg)
    }

    100% {
        transform: rotate(25deg)
    }
}
